<div id="promotion" class="title-header">
    <div class="text-header">
        <i><b>โปรโมชั่น</b></i>
    </div>
    <hr class="hr">
</div>
<div>
    <img src="assets/promotion/1.jpg" alt="" style="width: 100%;margin-top: 10px;">
</div>
<div class="row">
    <div class="col-md-6 center">
        <img src="assets/promotion/3.jpg" alt="" style="width: 100%;margin-top: 10px;">
    </div>
    <div class="col-md-6">
        <img src="assets/promotion/5.jpg" alt="" style="width: 100%;margin-top: 10px;">
    </div>
</div>
<div class="row">
    <div class="col-md-6 center">
        <img src="assets/promotion/4.jpg" alt="" style="width: 100%;margin-top: 10px;">
    </div>
    <div class="col-md-6">
        <img src="assets/promotion/2.jpg" alt="" style="width: 100%;margin-top: 10px;">
    </div>
</div>
<div class="col-12"><br></div>
<div (click)="toFacebook()">
    <img src="assets/promotion/flowwing.jpg" alt="" class="w-100 mt-1 pointer">
</div>