<div class="title-header" id="about">
    <div class="text-header">
        <i><b>เกี่ยวกับรวยสมบัติคาร์เซ็นเตอร์</b></i>
    </div>
    <hr class="hr">
</div>
<div class="content">
    <div class="col-12">
        <div class="row">
            <div class="col-12 col-md-12 col-lg-12 center">
                <div class="f25">
                    รวยสมบัติคาร์เซ็นเตอร์ ศูนย์รวมรถยนต์มือสองคุณภาพดี จากประสบการณ์นานกว่าสิบปี
                    ขายรถราคาถูกสุด รับซื้อรถยนต์มือสอง ให้ราคาสูง รวยสมบัติคาร์เซ็นเตอร์
                    มีรถหลากหลายให้เลือกมั่นใจรถทุกคัน สภาพดี รถสวย รถราคาถูก พร้อมการันตีรถทุกคัน
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12"><br></div>
<div class="text-header-md">
    <div class="text-header center">
        <i><b class="content"> “คุณภาพเกรด A </b></i>
        <i><b> มั่นใจหายห่วง” </b></i>
    </div>
</div>
<div class="col-12"><br></div>
<div>
    <img src="assets/about_p1.gif" alt="" style="width: 100%;margin-top: 10px;">
</div>
<div>
    <img src="assets/about/about1.jpg" alt="" style="width: 100%;margin-top: 10px;">
</div>
<div class="row">
    <div class="col-md-6 center">
        <img src="assets/about/about2.jpg" alt="" style="width: 100%;margin-top: 10px;">
    </div>
    <div class="col-md-6">
        <img src="assets/about/about3.jpg" alt="" style="width: 100%;margin-top: 10px;">
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-12">
        <iframe width="100%"
            src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F528185801192934%2F&show_text=false&appId=2425446877555950"
            width="100%" height="700px" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowTransparency="false" allow="encrypted-media" allowFullScreen="true">
        </iframe>
    </div>
</div>
<div>
    <img src="assets/about/about-main.jpg" alt="" style="width: 100%;margin-top: 10px;">
</div>