@import "./../../scss/main.scss";

.content {
    color: #fff;
}

.img-car {
    width: 100%;
    min-height: 175px;
}

.name {
    color: $main-color;
}

.condition {
    color: #000;
}

.btns {
    margin: 20px;
}

.btn-red {
    height: 40px;
    width: 100%;
    color: #fff;
}

.not-found {
    color: #fff;
    font-size: 20px;
    height: 200px;
}
