.p {
}

.top {
  position: fixed;
  bottom: 10%;
  right: 1.5%;
  height: 50px;
  width: 50px;
  background: #ffcc00;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  opacity: 0.5;
  z-index: 999;
}

.top:hover {
  position: fixed;
  bottom: 10%;
  right: 1.5%;
  height: 50px;
  width: 50px;
  background: #ffcc00;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  opacity: 1;
}
