@import "./../../../../shared/scss/main.scss";

.content {
    color: #fff;
}

.contentback {
    color: #fff;
}

.contenttext {
    color: #fff;
    margin-left: 45px;
}

.text-header-md {
    font-size: 30px;
    color: $yellow;
}
.text-headerfont {
    font-size: 40px;
    color: $yellow;
}

.name {
    color: $main-color;
}

.condition {
    color: #000;
}

.btns {
    margin: 20px;
}

.btn-red {
    height: 40px;
    width: 100%;
    color: #fff;
}

.icon-contact {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #fff;
    img {
        width: 23px;
    }
}

.f25 {
    font-size: 20px;
    margin-top: -5%;
    color: #fff;
}
.f26 {
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}
.f27 {
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
    text-align: left;
}

.mb-4 {
    margin-bottom: 40px;
}

.a {
    // position: relative;
    width: 800px;
    height: 50px;
    border: 3px solid black;
}
.b1 {
    position: relative;
    color: #fff;
    right: 0;
    width: 240px;
    height: 100px;
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 5px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 15px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 40px;
    padding: 15px;
    border-style: solid;
}

.pc {
    display: block;
}

.pc-icon {
    display: block;
    left: 35%;
}

.phone {
    display: none;
}

.phonetext {
    display: none;
}

.content-text-from {
    color: #fff;
    font-size: 20px;
}
.content-text-from-phone {
    color: #fff;
    font-size: 19px;
}

@media only screen and (max-width: 991px) {
    .phone {
        display: block;
    }
    .pc {
        display: none !important;
    }
}

.type-address {
    cursor: pointer;
}

.type-address:hover {
    span {
        color: $yellow;
    }
}
.type-address-default {
    color: #fff;
}

.type-address-active {
    color: $yellow;
}

.btn-contact {
    width: 100%;
    height: 45px;
    padding: 10px;
    border-style: solid;
    border-radius: 20px;
    background-color: transparent;
    color: #fff;
}

.btn-contact:hover {
    background-color: $yellow;
    color: #000;
}

.msg {
    color: #fff;
    margin: 10px;
}
