@import "./../../../../../shared/scss/main.scss";

.content {
    color: #fff;
}

.name {
    color: $main-color;
}

.condition {
    color: #000;
}

.btns {
    margin: 0px;
}

.btn-red {
    height: 30px;
    width: 100%;
    color: #fff;
}

.btn-action {
    height: 35px;
    width: 45px;
    background-color: #bbb;
    border: unset;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}

.btn-action-view {
    @extend .btn-action;
    color: #FFF;
    background-color: $main-color;
}

.btn-action-edit {
    @extend .btn-action;
    background-color: $yellow;
}

.btn-add {
    height: 70px;
    width: 100%;
    background-color: $yellow;
    color: $main-color;
    border: unset;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    font-size: 20px;
}

.btn-reds {
    background-color: $main-color;
    color: #fff;
}
